.container {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 15% 1fr;
    grid-gap: 0;
  }

  .listItemButton {
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    color: black;
  }
  
  .listItemButton.selected {
    border: 2px solid black;
    color: black;
  }
  
  .listItemButton:hover:not(.selected) {
    background-color: #b3acac;
  }
  
  .listItemButton a {
    text-decoration: none;
    color: inherit;
  }

  .login {
    display: grid;
    justify-content: center;
    text-align: center;
  }

  .googlePicture {
    max-width: 50px;
  }

  .styledCard {
    min-width: 10rem;
    min-height: 10rem;
    max-width: 10rem;
    max-height: 15rem;
    margin: 5px;
  
    @media (min-width: 900px) {
      width: calc(100% / 7 - 10px); /* Ensures 7 cards in a row */
    }
  }

  .styledSidebarBox {
    padding: 16px;
    min-width: 20vh;
    background-color: #f5f5f5;
    margin-right: 16px;
  }

  .statsBox {
    display: flow;
    width: 80%;
    text-align: -webkit-center;
  }

  .statsBoxChild {
    margin: 10px;
  }

  